body{
    background-color: rgb(176, 224, 164);
}

.responsive{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2{
    text-align: center;
    background-color: aqua;
}

a{
    margin-left: 100px;
    margin-right: 100px;
  
}

link{
    text-decoration: none;
}