{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block body %} 
<h1>Lorem Ipsum</h1> 
<img src="static\images\above_ground_vertical_tanks.jpg" alt="Vertical Tanks">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nisl pellentesque, gravida lectus non, fringilla justo. Etiam eu venenatis sem, et efficitur arcu. Donec tempus vitae risus dapibus venenatis. Nulla facilisi. Donec vestibulum ultricies nibh, ac facilisis odio tempus id. Ut nibh ipsum, placerat et commodo sed, commodo id nunc. Sed tempor imperdiet dolor. Pellentesque feugiat vehicula nunc, id posuere lectus sollicitudin efficitur. Mauris porta porta auctor. Quisque vel ornare metus. Donec eget libero in ligula tincidunt gravida eu nec purus.
<br>
Praesent nec fringilla arcu. Sed sollicitudin lectus sit amet orci placerat lobortis. Pellentesque mollis rhoncus libero quis imperdiet. Morbi facilisis dignissim risus nec consectetur. In hac habitasse platea dictumst. Curabitur porta laoreet mi ut auctor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque dignissim odio enim, id ultricies ex imperdiet in. Phasellus auctor facilisis vulputate. Nam eget leo eu nisl ultrices bibendum. Nullam tempus, magna at maximus egestas, nunc metus pulvinar enim, eu rutrum orci purus sed enim. Vivamus aliquet efficitur lorem at varius.
<br>
Cras imperdiet mollis velit at sodales. Sed maximus sem quis sem venenatis, eu pretium sapien condimentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean felis sem, pretium eu pharetra quis, sollicitudin eget felis. Nullam a mauris mattis, vestibulum eros vulputate, bibendum urna. Donec lobortis, est quis ultrices molestie, elit metus vehicula augue, id pulvinar erat massa quis ante. Morbi pretium elementum magna eu varius. Ut fermentum sagittis sagittis. Nullam ut neque eu sapien rhoncus efficitur eu nec quam.
<br>
Donec in condimentum justo. Cras fermentum semper nunc vel eleifend. Vivamus id odio vel sem iaculis pretium. Maecenas tincidunt nulla quis turpis tristique, sit amet porta nisl sagittis. Sed rutrum non mi vitae rutrum. Vestibulum dapibus, mi eu consequat gravida, nulla tellus pulvinar ex, in volutpat massa sapien et risus. Quisque sit amet urna consequat, venenatis neque sit amet, congue nulla. Suspendisse vel risus eleifend magna dignissim pellentesque. Phasellus malesuada nibh vehicula erat porttitor, quis maximus urna ornare.
<br>
In consectetur sapien vel orci tempor, sit amet hendrerit magna ornare. Sed ultrices mauris quis orci mattis, ac dapibus ex aliquet. Vivamus sapien ligula, malesuada sit amet lectus varius, lacinia semper mauris. Nam auctor arcu risus, at faucibus leo consequat ac. Fusce faucibus velit non aliquam efficitur. Donec a est et mi bibendum aliquam. Proin rutrum, lacus ac tristique ornare, nisl velit rhoncus elit, eget lacinia nibh mi sit amet velit.
{% endblock %}